# Project exclude paths
/.gradle/
.idea
application-oauth.properties
application-mail.properties
application-gallery.yml
# Project exclude paths
/build/
/out/
/out/production/classes/
/out/test/classes/