<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
    <div th:fragment="headerFragment">
        <header class="blog-header py-2">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a href="#" class="text-muted">Notice</a>
                </div>
                <div class="col-4 text-center">
                    <a href="/" class="blog-header-logo text-dark">Soriel Music Acamedy</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a sec:authorize="isAnonymous()" href="/soriel_Login_page.html" th:href="@{/user/login_page}" class="btn btn-sm btn-outline-secondary">Sign up</a>
                    <div>
                        <div sec:authorize="isAuthenticated()" style="color:#6c757d; display:inline-block">
                            <span sec:authentication="principal.customName"></span>님 환영합니다.&nbsp;
                        </div>
                        <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}" class="btn btn-sm btn-outline-secondary">Log out</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a th:href="@{#}" class="p-2 text-muted">About us</a>
                <a th:href="@{#}" class="p-2 text-muted">Contact</a>
                <a th:href="@{/picture_board}" class="p-2 text-muted">Pictures</a>
                <a th:href="@{/video_board/1}" class="p-2 text-muted">Videos</a>
                <a th:href="@{/inquire_board}" class="p-2 text-muted">Inquire</a>
                <!--<a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/user/myinfo}" class="p-2 text-muted">My page</a>-->
                <!--<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}" class="p-2 text-muted">Admin</a>-->
            </nav>
        </div>
    </div>
</body>
