.col-4.text-center {
    font-family: "Roboto Slab", serif;
    font-size: 30px;
}
.nav-scroller.py-1.mb-2 {
    margin-bottom: 10px;
}

.nav-scroller.py-1.mb-2 {
    border-top: 1px solid #dddddd;
}

.p-2 {
    text-decoration: none !important;
}

.p-2:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.p-2:hover {
    color: black;
}

.p-2:hover:after {
    width: 100%;
}
