.container .row {
    margin-top: 50px;
}

.col-3 {
    height: 420px;
    overflow: auto;
    border-right: 1px solid #dddddd;
}

.container .row div {
    margin-bottom: 8px;
}

.card {
    border: none !important;
}
.card-body {
    border: 1px solid #dddddd;
}

.card-body p {
    font-family: "Gugi", cursive;
}

#youtubePlayer {
    position: relative;
    width: 100% !important;
}

.card-body {
    border: 0.2px solid #dddddd;
    cursor: pointer;
    transition: all 0.1s;
}

.card-body:first-child {
    margin-top: 10px;
}

.card-body:hover {
    background-color: #dff9fb;
    border: 0px;
    transform: scale(1.04);
}

#imgReady {
    width: 100%;
}

