.card.card-image {
    margin-top: 20px;
    background-image: url("../images/22.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
}

#carouselExampleIndicators {
    margin-top: 100px;
}
