<html xmlns:th="http://www.thymleaf.org" lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>video board</title>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
        <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
        <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600&display=swap" rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
        />
        <link rel="stylesheet" href="../static/css/soriel_Video_board.css" />
        <link rel="stylesheet" th:href="@{/static/css/soriel_Header.css}" />
        <script th:src="@{/static/js/video_board.js}"></script>
    </head>
    <body>
        <div class="container">
            <th:block th:replace="fragment/soriel_Header :: headerFragment"></th:block>

            <div class="text-center" style="font-family: 'Noto Serif KR', serif; margin-top: 100px;">
                <p class="h4">Soriel 의 비디오 게시판 입니다.</p>
                <p class="h2">ㅡ</p>
            </div>
            <!-- Main Text - Philosophy -->

            <div class="row">
                <div class="col-3 justify-content-center">
                    <div th:each="student : ${students}" class="card text-center">
                        <div class="card-body clickhere" >
                            <p id="myself" class="card-text">[[${student.student_name}]]</p>
                            <input class="student_id" type="hidden" th:value="${student.id}">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div th:if="${link!=null}" class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" th:src="@{http://www.youtube.com/embed/{link} (link = ${link})}" allowfullscreen></iframe>
                    </div>
                    <div th:if="${link==null}" class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" th:src="@{http://www.youtube.com/embed/v=As_4JTmHuW4}" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- container -->
    </body>
</html>
