<html xmlns:th="http://www.thymleaf.org" lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Soriel Picture Board</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />

        <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script>
            $(document).ready(function () {
                $(".header").load("../static/header/soriel_Header.html");
            });
        </script>
        <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="../static/css/soriel_Picture_board.css" />
        <link rel="stylesheet" th:href="@{/static/css/soriel_Header.css}" />
    </head>
    <body>
        <div class="container">
            <th:block th:replace="fragment/soriel_Header :: headerFragment"></th:block>

            <div class="text-center" style="font-family: 'Noto Serif KR', serif; margin-top: 100px;">
                <p class="h4">Soriel 학원의 사진들입니다</p>
                <p class="h2">ㅡ</p>
            </div>
            <!-- Picture Text 1 -->

            <div class="row" id="picRow">
                <div class="col">
                    <img src="../static/images/gr1.jpg" alt="" />
                </div>
                <div class="col">
                    <img src="../static/images/gr2.jpg" alt="" />
                </div>
                <div class="col">
                    <img src="../static/images/gr3.jpg" alt="" />
                </div>
                <div style="margin-top: 10px;" class="w-100"></div>
                <div class="col">
                    <img data-aos="fade-up" src="../static/images/gr4.jpg" alt="" />
                </div>
                <div class="col">
                    <img data-aos="fade-up" src="../static/images/gr5.jpg" alt="" />
                </div>
                <div class="col">
                    <img data-aos="fade-up" src="../static/images/gr6.jpg" alt="" />
                </div>
                <div style="margin-top: 10px;" class="w-100"></div>
                <div class="col">
                    <img data-aos="fade-up" data-aos-anchor-placement="top-center" src="../static/images/gr7.jpg" alt="" />
                </div>
                <div class="col">
                    <img data-aos="fade-up" data-aos-anchor-placement="top-center" src="../static/images/gr8.png" alt="" />
                </div>
                <div class="col">
                    <img data-aos="fade-up" data-aos-anchor-placement="top-center" src="../static/images/gr9.png" alt="" />
                </div>
                <div style="margin-top: 10px;" class="w-100"></div>
                <div class="col">
                    <img data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="top-center" src="../static/images/gr10.jpg" alt="" />
                </div>
                <div class="col">
                    <img data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="top-center" src="../static/images/gr1.jpg" alt="" />
                </div>
                <div class="col">
                    <img data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="top-center" src="../static/images/gr2.jpg" alt="" />
                </div>
            </div>
        </div>
        <!-- container -->

        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init({
                easing: "ease-out-back",
                duration: 1000,
            });
        </script>
    </body>
</html>
