<html xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:title" content="소리엘 음악학원"/>
        <meta property="og:type" content="website"/>
        <meta property="or:url" content="sorielacademy.com/">
        <meta property="og:image" content="https://images.pexels.com/photos/34583/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500"/>
        <title>Soriel Music Academy</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
        <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
        <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>

        <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet" />

        <link rel="stylesheet" th:href="@{/static/css/soriel_Main_page.css}" />
        <link rel="stylesheet" th:href="@{/static/css/soriel_Header.css}" />
    </head>

    <body>
        <div class="container">
            <th:block th:replace="fragment/soriel_Header :: headerFragment"></th:block>
            <!-- Jumbotron -->
            <div class="card card-image">
                <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                    <div class="py-5">
                        <!-- Content -->
<!--                        <h5 class="h5 orange-text"><i class="fa fa-camera-retro"></i> Photography</h5>-->
                        <h2 id="title" class="card-title h2 my-4 py-2">SORIEL MUSIC ACADEMY</h2>
                        <h4 id="subtitle" class="card-title h2 my-4 py-2">소리엘 음악학원</h4>
                        <p class="mb-4 pb-2 px-md-5 mx-md-5">
                            사랑과 정성으로 가르치는 음악 전문 학원 소리엘 음악학원입니다.<br>
                            체계적인 교육 시스템과 전문적인 강사진들과 함께 학생들의 실력향상과 인성함양에 최선을 다하겠습니다.
                        </p>
<!--                        <a class="btn peach-gradient"><i class="fa fa-clone left"></i> View project</a>-->
                    </div>
                </div>
            </div>

            <div class="text-center" style="font-family: 'Noto Serif KR', serif; margin-top: 100px;">
                <p class="h4">Soriel 피아노 철학</p>
                <p class="h2">ㅡ</p>
            </div>
            <!-- Main Text - Philosophy -->

            <div class="row cards">
                <div class="col-sm-1"></div>
                <div class="col-sm">
                    <div class="card mt-4">
                        <img src="../static/images/teach1.jpg" alt="" class="card-img-top" />
                        <div class="card-body">
                            <p class="card-text">
                                아이들이 조물조물 피아노 건반을 만지면서 인생의 아름다움, 예술의 가치를 느끼고 알아가는 기쁨을 누릴 수 있는 교육을 지향합니다.
                                소리엘 음악학원은 음악이 인생을 더 빛나고 행복하게 해준다는 생각을 항상 가지고 아이들을 가르칩니다.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card mt-4">
                        <img src="../static/images/teach4.jpg" alt="" class="card-img-top" />
                        <div class="card-body">
                            <p class="card-text">
                                소리엘 음악학원은 특별함보다 편안함을 전해주는 음악학원을 만들고자 합니다. 학생들이 음악을 통해 행복하길 바라는 마음을 최우선으로 여깁니다.
                                그래서 딱딱한 도제식 교육을 지양하고 학생이 강사와 호흡하는 교육에 중점을 두고 있습니다.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card mt-4">
                        <img src="../static/images/teach3.jpg" alt="" class="card-img-top" />
                        <div class="card-body">
                            <p class="card-text">
                                소리엘 음악학원은 실력과 재미, 두 마리 토끼를 잡을 수 있는 지도법에 대해 고심합니다. 기본기를 강조해 실력을 꾸준히
                                향상시키도록 도왔고 매주 다채로운 특강 프로그램을 마련해 피아노 외적으로도 음악 지식의 깊이를 넓히고 있습니다.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <!-- Philosophy cards -->

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../static/images/pic1.jpg" alt="First slide" />
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../static/images/pic3.jpg" alt="Second slide" />
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../static/images/pic2.jpg" alt="Third slide" />
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="text-center" style="font-family: 'Noto Serif KR', serif; margin-top: 100px;">
                <p class="h4">수강생들이 말하는 Soriel</p>
                <p class="h2">ㅡ</p>
            </div>
            <!-- Main text -  -->

            <div class="row cards" >
                <div class="col-sm">
                    <div class="card mt-4">
                        <img src="../static/images/child1.jpg" alt="" class="card-img-top" />
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, voluptate quis culpa eum architecto mollitia assumenda impedit possimus perspiciatis. Placeat
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card mt-4">
                        <img src="../static/images/child2.jpg" alt="" class="card-img-top" />
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, voluptate quis culpa eum architecto mollitia assumenda impedit possimus perspiciatis. Placeat
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card mt-4">
                        <img src="../static/images/child3.jpg" alt="" class="card-img-top" />
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, voluptate quis culpa eum architecto mollitia assumenda impedit possimus perspiciatis. Placeat
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card mt-4">
                        <img src="../static/images/child4.jpg" alt="" class="card-img-top" />
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, voluptate quis culpa eum architecto mollitia assumenda impedit possimus perspiciatis. Placeat
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container -->
        <th:block th:replace="fragment/soriel_Footer :: footerFragment"></th:block>
    </body>
</html>
